 
<div class="grid-container">
  <h1>Matéria 1</h1>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
</div>

<div class="grid-container">
  <h1>Matéria 2</h1>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
</div>

<div class="grid-container">
  <h1>Matéria 3</h1>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
    <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
    <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
    <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
    <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
    <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
    <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
</div>

<div class="grid-container">
  <h1>Matéria 4</h1>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
  <div class="grid-item">
    <a href="pagina_destino.html">
      <img src="/assets/imagem1.jpg" alt="Imagem 1">
      <p>Carga Horária</p>
      <p>Texto descritivo 1</p>
    </a>
  </div>
</div>
