<h1>UsersBackoffice::Welcome#index</h1>

<p style="color: white; display: inline-block; padding: 10px 20px; background-color: blue; border-radius: 5px; text-align: center; width: 180px;"> <%= link_to 'INÍCIO', root_path, style: 'color: white; text-decoration: none; display: block; width: 100%;' %></p>

<h1> PRECISO COLOCAR A SENHA DO USUÁRIO AQUI <h1>
<p>Find me in app/views/users_backoffice/welcome/index.html.erb</p>
